<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap'"
          rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/contact.css' %}">

    {# media styles #}

    <link rel="stylesheet" href="{% static 'media/css/media.css' %}">
    <link rel="stylesheet" href="{% static 'media/css/media-detail.css' %}">
    <link rel="stylesheet" href="{% static 'media/css/media-form.css' %}">
</head>

<body>
<div class="wrapper">
    <span class="logs">
        <a href=#" class="login-link"> LOGIN </a>
        <button class="signup-button"><a href="#" class="signup-link"> SIGNUP </a></button>
    </span>

    <header class="header">
        <div class="header-title">
            AgainTOI
        </div>

        <nav class="nav">
            <ul class="nav-list">
                <li><a href="{% url '' %}">Home</a></li>
                <li><a href="#venue">Venue</a></li>
                <li><a href="#suppliers">Suppliers</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'media' %}">Media</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <div class="footer-contacts">
        <div class="footer-nav">
          <h2>Follow us</h2>
          <ul class="footer-nav-list">
            <li class="footer-nav-item"><a href="{% url '' %}" class="footer-nav-link">Instagram</a></li>
            <li class="footer-nav-item"><a href="{% url '' %}" class="footer-nav-link">Facebook</a></li>
            <li class="footer-nav-item"><a href="{% url '' %}" class="footer-nav-link">Linkedin</a></li>
            <li class="footer-nav-item"><a href="{% url '' %}" class="footer-nav-link">Youtube</a></li>
          </ul>
        </div>
      </div>
</div>

</body>
</html>
