body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
}

.wrapper {
    margin-left: 60px;
    margin-right: 60px;
}

.logs {
    display: flex;
    justify-content: flex-end;

    margin-top: 13px;
    
}

.login-link {
    margin-right: 15px;
    margin-top: 5px;

    transition: 0.3s ease-in-out;
}

.login-link:hover {
    color: #C4C4C4;
}

.signup-button {
    border: none;
    background: #C4C4C4;

    /* border-radius: 10px; */
    transition: 0.3s ease-in-out;
}

.signup-button:hover {
    color: #C4C4C4;
    background: white;
}

.signup-link {
    padding-left: 15px;
    padding-right: 15px;

    font-weight: 200;
}

.logs a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #000000;

    text-decoration: none;
}

.header {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.header-title {
    display: flex;
    justify-content: center;
    align-content: center;
    /* AgainTOI */
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 45px;

    color: #000000;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul li {
    margin-left: 30px;
}

.nav ul li a {
    text-decoration: none;
    color: black;

    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;

    transition: 0.3s ease-in-out;
}

.nav ul li a:hover {
    color: #C4C4C4
}

main {
    margin-top: 20px;
}


.footer {

    position: relative;
    border-top: #d0d8d6 1px solid;
  
    font-family: 'Poppins', sans-serif;
  
    height: 270px;
    margin-top: 60px;
  
    display: flex;
    padding-top: 30px;
  
  }
  
  
  .footer-text {
    height: 191px;
    width: 394px;
  }
  
  .footer-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 17px;
  
    color: #000000;
  }
  
  .footer-text p {
    height: 39px;
    width: 304px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  
    color: #000000;
  }
  
  .footer-categories {
    margin-left: 100px;
  }
  
  .footer-contacts {
    margin-left: 100px;
  }
  
  .footer-nav-list {
    list-style-type: none;
  }
  
  .footer-nav h2 {
    /* All products */
    height: 28px;
    font-family: 'Readex Pro', sans-serif;
  
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
  
    color: #000000;
  }
  
  .footer-nav-item {
  
    margin-top: 13px;
  
  }
  
  .footer-nav-link {
    text-decoration: none;
    height: 22px;
  
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
  
    margin-left: -40px;
    margin-top: 20px;
  
    color: #000000;
  
    transition: 0.3s ease-in-out;
  
  }
  
  .footer-nav-link:hover {
    color: #abbab5;
  }